.container {
  width: 100% !important;
  padding: 10px; }
  .container .titleForm {
    text-align: center;
    background-color: #f4726d;
    margin: 0 -10px;
    padding: 10px; }
    .container .titleForm h3 {
      margin: 0;
      color: white;
      font-weight: bold; }
  .container .error {
    color: red; }

#login, #register {
  padding: 10px;
  margin: 10px 0;
  border: 4px solid #f4726d;
  border-radius: 10px; }
  #login input, #register input {
    width: 100%; }
  #login button, #register button {
    width: 100%;
    margin: 10px 0; }
  #login p, #register p {
    font-weight: bold;
    margin: 10px 0 5px 0; }
